@font-face {
    font-family: gilroy;
    src: url(../Gilroy-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    height: 100%;
    width: 100%;
}
nav {
    height: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vh 8vh;
    background-color: #062933;
}

.logo img {
    height: 80%;
    width: 20%;
    border-radius: 50px;
}

.nav-right {
    height: 100%;
    width: 45%;
    /* background-color: red; */
    display: flex;
    align-self: center;
    justify-content: space-between;
}

.nav-right a {
    font-size: 2vh;
    font-weight: 400;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 1vh;
    border-radius: 20px;
    color: #6ea99f;
    transition: all ease 0.4s;
}

.nav-right a:hover {
    border: 1px solid #ffb64b;
    color: #ffb64b;
}

#main{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #062933;
}
button{
    height: 7vh;
    width: 40vh;
    font-size: 5vh;
    border: 1px solid #6ea99f;
    border-radius: 40px;
    background-color: #062933;
    color: #6ea99f;
    cursor: pointer;
    transition: all ease 1s;
}
button:hover{
    height: 10vh;
    width: 50vh;
    font-size: 6vh;
    border: 1px solid #ffb64b;
    background-color: #062933;
    color: #ffb64b;
}